<footer class="bg-dark text-white mt-5 pt-5">

  <div class="container">

    <div class="row g-4 pb-4 border-bottom border-secondary">

      <div class="col-6 col-md-3">
        <h6 class="text-uppercase fw-bold mb-3">Navigate</h6>

        <ul class="list-unstyled small">
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/">Home</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/mealkits">On The Menu</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/sign-up">Sign Up</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/log-in">Log In</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3">
        <h6 class="text-uppercase fw-bold mb-3">About</h6>

        <ul class="list-unstyled small">
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/mealkits">Our Broths</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/mealkits">Special Soups</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/sign-up">Join Today</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/log-in">Member Access</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-3">
        <h6 class="text-uppercase fw-bold mb-3">Support</h6>

        <ul class="list-unstyled small">
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/sign-up">Account</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/mealkits">Weekly Menu</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/">FAQ</a></li>
          <li class="mb-2"><a class="text-white-50 text-decoration-none" href="/">Contact</a></li>
        </ul>
      </div>

      <div class="col-12 col-md-3 text-md-end">
        <h6 class="text-uppercase fw-bold mb-3">Get in Touch</h6>

        <div class="small text-white-50">
          <div class="mb-1"><i class="bi bi-telephone me-2"></i>(647) 456-4584</div>
          <div class="mb-3"><i class="bi bi-envelope me-2"></i>support@diyhotpot.ca</div>

          <div class="text-uppercase fw-bold text-white mb-2">Follow Us</div>

          <a class="text-white me-3" href="https://facebook.com" target="_blank">
            <i class="bi bi-facebook fs-4"></i>
          </a>

          <a class="text-white me-3" href="https://instagram.com" target="_blank">
            <i class="bi bi-instagram fs-4"></i>
          </a>

          <a class="text-white" href="https://twitter.com" target="_blank">
            <i class="bi bi-twitter-x fs-4"></i>
          </a>
        </div>
      </div>

    </div>

    <div class="py-4">
      <p class="small text-white-50 mb-2">
        By submitting this assignment I declare that this assignment is my own work in accordance with
        the Seneca Academic Policy.
      </p>

      <p class="small text-white-50 mb-0">
        © Aashrawat Shrestha, ashrestha73@myseneca.ca, WEB322 Winter 2026
      </p>
    </div>

  </div>

</footer>